# Flask Settings
SECRET_KEY=your_secret_key_here

# TMDB API
TMDB_API_KEY=your_tmdb_api_key_here

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_USER=root
# Enter your MySQL root password here
MYSQL_PASSWORD=root
MYSQL_DB=movie_db
